{% extends 'base.html' %}
{% load rating_extras %}

{% block content %}
<div class="container">

    <!-- User Detail Card -->
    {% include 'core/components/user_detail_card.html' with profile=profile is_own_profile=True sidebar_action_type='edit_profile' profile_meta_items=profile_meta_items %}

    <!-- User Skills -->
    {% include 'core/components/user_skills_section.html' with section_title="My Skills" show_add_button=True next_page="view_my_profile" empty_message="You haven't added any skills yet." show_empty_actions=True use_gradient_button=False is_own_profile=True %}

    <!-- Navigation Actions Component -->
    {% include 'core/components/navigation_actions.html' with back_url='search' back_text='Back to Browse' show_manage_skills=True use_gradient=True %}
</div>
{% endblock %}
